<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="../tools/vue.js"></script>
	</head>
	<body>
		<div id="root">
			<form @submit.prevent="toJson">
				账号：<input
					v-model="userInfo.account"
					type="text"
				/><br /><br />
				密码：<input
					v-model="userInfo.password"
					type="password"
				/><br /><br />
				年龄：<input
					type="number"
					v-model.number="userInfo.age "
				/><br /><br />
				性别： 男
				<input
					type="radio"
					name="sex"
					v-model="userInfo.sex"
					value="male"
				/>
				女
				<input
					type="radio"
					name="sex"
					v-model="userInfo.sex"
					value="female"
				/>
				爱好： 学习<input
					type="checkbox"
					v-model="userInfo.hobby"
					value="study"
				/>
				打游戏<input
					type="checkbox"
					v-model="userInfo.hobby"
					value="game"
				/>
				吃饭<input
					type="checkbox"
					v-model="userInfo.hobby"
					value="eat"
				/>
				<br /><br />
				所属校区
				<select v-model="userInfo.city">
					<option value="">请选择校区</option>
					<option value="赣州">赣州</option>
					<option value="南昌">南昌</option>
					<option value="宜春">宜春</option>
				</select>
				<br /><br />
				其他信息:
				<textarea v-model.lazy="userInfo.other"></textarea><br /><br />
				<input type="checkbox" v-model="userInfo.agree" />阅读并接受
				<a href="https://www.bilibili.com/">用户协议</a>
				<button>提交</button>
			</form>
		</div>
	</body>
	<script>
		Vue.config.productionTip = false
		const vm = new Vue({
			el: '#root',
			data: {
				userInfo: {
					account: '',
					password: '',
					age: 18,
					sex: 'female',
					hobby: [],
					city: 'ganzhou',
					other: '',
					agree: '',
				},
			},
			methods: {
				toJson() {
					console.log(JSON.stringify(this.userInfo))
				},
			},
		})
	</script>
</html>
